.list-heading {
  font-size: 40px;
  text-align: center;
  padding: 40px 0;
}

.table {
  width: 80%;
  border: 1px solid black;
  margin: 0 auto;
}

footer {
  text-align: center;
  background: #414850;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
