<!-- @format -->

<%- include('header.ejs') %> <%- include('navbar.ejs') %>

<a href="new"><button class="btn btn-primary">Add New</button></a>

<%- include('list.ejs') %> <%- include ('footer.ejs') %>
