<!-- @format -->

<div class="container">
  <a href="/new" type="button" class="btn btn-primary">
    <i class="fa fa-pencil" aria-hidden="true"> Add New</i></a
  >
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < users.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].fname %> <%= users[i].lname %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
