<!-- @format -->

<div class="list-group">
  <!-- Default panel contents -->
  <div class="list-heading"></div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td>John Disla</td>
      <td>Web Developer</td>
      <td>email@gmail.com</td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i
        ></i>
      </td>
    </tr>
    <tr>
      <td>John Disla</td>
      <td>Web Developer</td>
      <td>email@gmail.com</td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true">
          <i class="fa fa-times" aria-hidden="true"></i
        ></i>
      </td>
    </tr>
  </table>
</div>
